{% extends "admin/change_list.html" %}
{% load admin_list i18n tree_admin %}

{% block result_list %}
    {% if action_form and actions_on_top and cl.show_admin_actions %}
        {% admin_actions %}
        <menu id="nestable-menu">
            <button type="button" data-action="expand-all">Expand All</button>
            <button type="button" data-action="collapse-all">Collapse All</button>
        </menu>
    {% endif %}
    {% tree_result_list cl %}
    {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
    <input type="button" name="_save" class="default save" value="Save" onclick="submitTree()">
    <script>
    $('#nestable1').nestable({group: 1, maxDepth: 4});
    $('#nestable2').nestable({group: 1, maxDepth: 4});
    </script>
{% endblock %}
